.App {
  text-align: center;
  position: relative;
}

.table-header,
.table-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 3fr 1.5fr 1fr;
  padding: 6px 24px;
  border: 1px solid black;
  margin-bottom: 10px;
}

span {
  text-align: left;
}

.table-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
}

.modal {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.modal-content {
  text-align: left;
  padding: 15px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.active {
  font-weight: bold;
}
